* {
  box-sizing: border-boxs;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input input {
  padding: 10px;
  border: 1px solid rgb(73, 37, 37);
  outline: none;
  font-size: 15px;
  text-align: center;
}

.div1 {
  margin: 40px 0px;
  padding: 10px;
  font-size: 30px;
}

button {
  padding: 10px 15px;
  margin: 40px 0px 0px 0px;
  border: none;
  background-color: rgb(185, 32, 63);
  color: white;
}
